<div class="event-images">
  <img ng-src="{{img}}"
       class="event"
       ng-repeat="img in event.images"
       ng-class="{active: mainImageUrl==img}">
</div>

<h1>{{event.name}}</h1>

<p>{{event.description}}</p>

<ul class="event-thumbs">
  <li ng-repeat="img in event.images">
    <img ng-src="{{img}}" ng-click="setImage(img)">
  </li>
</ul>

<ul class="specs">
  <li>
    <span>Gigs</span>
    <dl>

      <dd ng-repeat="gigs in event.gigs">{{gigs}}</dd>
    </dl>
  </li>
  <li>
    <span>Date of Event</span>
    <dl>
      <dt></dt>
      <dd>{{event.date.type}}</dd>

    </dl>

</ul>
